<style type="text/css">
	.channel-group{
		position: relative;
	}
	.channel-group-header{
		position: relative;
		padding: 10px 14px;
		border-bottom: 1px solid #f0f0f0;
		border-left: 6px solid #ffab18;
	}
	.channel-group-title{
		font: 16px normal;
		color: #333;
	}
	.book-table{
		padding: 13px 14px 5px;
		font-size: 0;
	}
	.book-table li{
		display: inline-block;
		width: 33.3%;
		margin-bottom: 8px;
		vertical-align: top;
		line-height: 1;
	}
	.book-table-wrap{
		position: relative;
		width: 86px;
		overflow: hidden;
	}
	.book-table-cover{
		position: relative;
		width: 86px;
		height: 113px;
		background-color: #eeece9;
		box-shadow: 0px 6px 5px -3px #aaa;
		border: 1px solid #f0f0f0;
		border-bottom: none;
		overflow: hidden;
	}
	.book-table-cover img{
		width: 100%;
		height: 100%;
	}
	.book-table-info{
		padding-top: 8px;
	}
	.book-table-title{
		max-height: 2.8em;
		margin-bottom: 0;
		font-size: 13px;
		font-weight: 400;
		line-height: 1.4em;
		overflow: hidden;
		color: #8d8d8d;
	}
	.u-tag-rt{
		position: absolute;
		top: 0;
		right: 0;
		width: 100%;
		line-height: 1.4;
		color: #fff;
		font-size: 1.4rem;
		text-align: center;
		background-color: #ef6c2c;
		-webkit-transform-origin: top center;
		-webkit-transform: translateX(50%) rotate(45deg) translateY(50%) scale(0.6);
	}
	.u-tag-rt.-freefiction{
		background-color: #49ab3f;
	}
	.u-tag-rt.-freefiction:before{
		content: "\9650\514d";
	}
	.channel-group-footer{
		display: block;
		padding: 19px 0;
		border-top: 1px solid #f0f0f0;
		text-align: center;
		font-size: 14px;
	}
</style>
<section class="channel-group">
	<div class="channel-group-header">
		<h2 class="channel-group-title">限时免费</h2>
	</div>
	<ul class="book-table">
		<li>
			<div class="book-table-wrap">
				<div class="book-table-cover">
					<img src="http://tkres.tukucc.com/images/upload/20151019/14452490972061.jpg" />
					<div class="u-tag-rt -freefiction"></div>
				</div>
				<div class="book-table-info">
					<h3 class="book-table-title">书名</h3>
				</div>
			</div>
		</li>
		<li>
			<div class="book-table-wrap">
				<div class="book-table-cover">
					<img src="http://tkres.tukucc.com/images/upload/20151019/14452490972061.jpg" />
					<div class="u-tag-rt -freefiction"></div>
				</div>
				<div class="book-table-info">
					<h3 class="book-table-title">书名</h3>
				</div>
			</div>
		</li>
		<li>
			<div class="book-table-wrap">
				<div class="book-table-cover">
					<img src="http://tkres.tukucc.com/images/upload/20151019/14452490972061.jpg" />
					<div class="u-tag-rt -freefiction"></div>
				</div>
				<div class="book-table-info">
					<h3 class="book-table-title">书名</h3>
				</div>
			</div>
		</li>
	</ul>
	<div class="channel-group-footer">
		<a href="/free">更多限免佳作&gt;&gt;</a>
	</div>
</section>
