<style type="text/css">
	.shelf-top{
		padding: 10px 20px 0;
	}
	.shelf-top .shelf-search{
		margin-right: 46px;
	}
	.shelf-search{
		padding-left: 32px;
		font-size: 12px;
		color: #ccc;
		line-height: 36px;
		border: 1px solid #eee;
		border-radius: 4px;
		background: url(http://image.read.duokan.com/mfsv2/download/fdsc3/p01dSYLeWtSR/tY73MgTfVw7UAS.png) no-repeat 10px center;
		background-size: 14px;
	}
	.shelf-switch{
		float: right;
		width: 36px;
		height: 36px;
		border: 1px solid #eee;
		border-radius: 4px;
		background: url(http://image.read.duokan.com/mfsv2/download/fdsc3/p01yLF3fEjil/b7UfAdlfufQKML.png) no-repeat center;
		background-size: 16px;
	}
</style>
<div class="shelf">
	<div class="shelf-top">
		<div class="shelf-switch"></div>
		<a href="/search">
			<div class="shelf-search">输入书名/作者/关键字</div>
		</a>
	</div>
	<ul class="book-list">
		
	</ul>
</div>
