<style type="text/css">
	.top-home{
		background-color: #fff;
		border-bottom: 10px solid #f5f5f5;
	}
	.top-home-search{
		margin: 10px 13px;
		padding: 1px 0 0 30px;
		font: 11px/33px a;
		color: rgba(0,0,0,0.4);
		background:url(http://www.duokan.com/m/static/images/icon.png?bd449e12560d226c8be720e820f430e8) no-repeat center;
		background-position: 6 -24px;
		background-size: 16px;
		border: 1px solid #f5f5f5;
		border-radius: 2px;
	}
	.cover{
		width: 100%;
	}
	.top-home-btn{
		margin: 14px 0 4px;
		display: -webkit-box;
		width: 100%;
	}
	.top-home-btn li{
		line-height: 2.4;
		font-size: 12px;
		text-align: center;
		-webkit-box-flex: 1;
	}

	.top-home-icon{
		display: block;
		margin: 0 auto;
		height: 22px;
		width: 22px;
		background: url(./static/img/icon-nav.png);
		background-color: #4f8fd6;
		background-size: 22px;
	}

	.icon-male{
		background-position: 0 -44px;
	}

	.icon-female{
		background-position: 0 -44px;
	}

	.icon-category{
		background-position: 0 -1px;
	}

	.icon-rank{
		background-position: 0 -88px;
	}
</style>
<section class="top-home">
	<a href="/search">
		<div class="top-home-search">
			输入书名/作者/关键字
		</div>
	</a>
	<div class="slider-banner">
		<div>
			<a href="http://dushu.xiaomi.com/#page=channel&id=410">
				<img class="cover" src="http://image.read.duokan.com/mfsv2/download/fdsc3/p01tBqnupVze/qayTXiXrMm1lVm.jpg" title="海量免费书籍" />
			</a>
		</div>
	</div>
	<ul class="top-home-btn">
		<li>
			<a href="/male">
				<span class="top-home-icon icon-male"></span>
				<p class="top-home-des">男生</p>
			</a>
		</li>
		<li>
			<a href="/female">
				<span class="top-home-icon icon-female"></span>
				<p class="top-home-des">女生</p>
			</a>
		</li>
		<li>
			<a href="/category">
				<span class="top-home-icon icon-category"></span>
				<p class="top-home-des">分类</p>
			</a>
		</li>
		<li>
			<a href="/rank">
				<span class="top-home-icon icon-rank"></span>
				<p class="top-home-des">排行</p>
			</a>
		</li>
	</ul>
</section>
