<section class="channel-h5">
	<div class="channel-h5-header">
		<p class="channel-h5-title">
			女生最爱
		</p>
	</div>
  <div>
    <div>
			<ul class="list-h5">
	  		<li>
	  			<div class="book-h5">
	  				<div class="book-h5-cover">
	  					<img src="http://tkres.tukucc.com/images/upload/20151019/14452490972061.jpg" />
	  					<p class="book-h5-finish">完结</p>
	  				</div>
	  				<div class="book-h5-info">
	  					<p class="book-h5-title">书名</p>
	  					<p class="book-h5-author">作者</p>
	  					<p class="book-h5-summary">简介</p>
	  					<div class="book-h5-wrap">
	  						<div class="book-h5-tag">标签</div>
	  					</div>
	  				</div>
	  			</div>
	  		</li>
	      <li>
	  			<div class="book-h5">
	  				<div class="book-h5-cover">
	  					<img src="http://tkres.tukucc.com/images/upload/20151019/14452490972061.jpg" />
	  					<p class="book-h5-finish">完结</p>
	  				</div>
	  				<div class="book-h5-info">
	  					<p class="book-h5-title">书名</p>
	  					<p class="book-h5-author">作者</p>
	  					<p class="book-h5-summary">简介</p>
	  					<div class="book-h5-wrap">
	  						<div class="book-h5-tag">标签</div>
	  					</div>
	  				</div>
	  			</div>
	  		</li>
	  	</ul>
    </div>
		<div class="channel-h5-footer-next">
			<a href="javascript:;">换一换</a>
			<a href="/male">女生频道</a>
		</div>
  </div>
</section>
